<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope"></i> <a href="mailto:contactdeepakshivtare128@gmail.com">betteryou@esperanzahealthcare.com</a>
        <i class="bi bi-phone"></i> +91 8317258309
          </div>
      <div class="d-none d-lg-flex social-links align-items-center">
       
      </div>
    </div>
  </div>
