<section id="why-us" class="why-us">
  <div class="container">

    <div class="row">
      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="content">
          <h3>Why Esperanza?</h3>
          <p>
            At Esperanza, we believe that a healthy mind and body is the foundation for a fulfilling life. We understand that life can be unpredictable, and it's not always easy to maintain a healthy lifestyle.</p>
          <div class="text-center">
            <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-8 d-flex align-items-stretch">
        <div class="icon-boxes d-flex flex-column justify-content-center">
          <div class="row">
            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-receipt"></i>
                <h4>Physiotherapy</h4>
                
                <div class="m"> <p>• Home Visit Physiotherapy<br>
                  • Virtual Physiotherapy<br>
                  • Advanced Equipments</p></div>
              </div>
            </div>
            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-cube-alt"></i>
                <h4>Mental Health Care</h4>
                <div class="m"><p>• Talk, Resolve, Heal.<br>
                  • Online Counseling Therapy With Top Psychologists Anytime, Anywhere, Any device.</p></div>
              </div>
            </div>
            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-images"></i>
                <h4>Diet & Nutrition</h4>
                <div class="m"><p>• Innovative and Exciting plans.</p></div>
              </div>
            </div>
          </div>
        </div><!-- End .content-->
      </div>
    </div>

  </div>
</section>